html{
    width: 100%;
    float: none;
    
}



body{
    float: none;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, #7A50B4, #4187D2);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    
}

main{
    flex-grow: 1;
    height: 50%;
    width: 20%;
    float: none;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    margin:25px 750px;
    padding: 90px 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba (0, 0, 0, 1);
    

    
}



input{
    flex-grow: 1;
    width: 100%;
    display: flex;
    float: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 6px;
    outline: none;
   
}

input:focus{
   border-bottom-color: #7A50B4;
}

button{
    
    flex-grow: 1;
    height:50px;
    width: 100%;
    display: inline-block;
    float: none;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to top left, #7A50B4, #4187D2);
    text-align: center;
    color: white;
    line-height: 50px;
    border: none;
   
}

button:focus{
    outline: none;
}

button:hover{
    
    background-color: blue;
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

main form div{
    gap: 5px;
}

form{
    width: 200px;
}

div.span{
    text-decoration: none;
}
